<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wsl.working1227.dao.ZhangHaoDao">
    <!--二级缓存-->
    <cache/>
    <!--查询全部-->
    <select id="findAll" resultType="com.wsl.working1227.entity.ZhangHao">
        select * from zhanghao WHERE name = #{name}
    </select>
</mapper>